## Firebase
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyAl1jVGas5jv5z3rFlNMjHOBhC1fOwlo8o"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="ster-29249.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="ster-29249"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="ster-29249.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SANDER_ID="699780735708"
NEXT_PUBLIC_FIREBASE_APP_ID="1:699780735708:web:968228df245ed50edc0a19"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-P816C98S8Q"

